html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset.css*/

body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}
.m-br {
    display: none;
}
.en-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.en-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.en-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.wrap {
    max-width: 1280px;
    margin: 0 auto;
}
.header {
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .04);
}
.logo {
    margin: 27px 64px;
}

.all-contents{
    position: relative;
    margin-top:80px;
    margin-bottom: 100px;
}
.all-contents .main-txt .main-title {
    font-size: 44px;
    line-height: 56px;
    font-weight: 200;
    color: #3E3E3E;
}
.all-contents .main-txt .main-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    width: 566px;
    margin-top: 32px;
    word-break: keep-all;
    color: #818181
}
.main-txt .click-img {
    font-size: 13px;
    line-height: 19px;
    margin-top: 16px;
    color: #3F48FF;
    font-weight: 300;
}
.all-contents .btn-section {
    margin-top:60px;
}
.all-contents .btn-card {
    width: 48%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 632px;
    font-size: 44px;
    font-weight: 600;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 0;
/*    transition: 0.3;*/
}

.all-contents .btn-card.test {
    margin-right: 3.5%;
    height: 632px;
    background-image: url(test.png);
    background-size: cover;
}
.all-contents .btn-card.test .test-txt {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
}
.all-contents .btn-card.test:hover .test-txt {
    display: inherit;
    opacity: 1;
}
.all-contents .btn-card.test:hover {
    background-image: url(test-now.png);
}

.all-contents .btn-card.study .study-txt {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
}
.all-contents .btn-card.study:hover .study-txt {
    display: inherit;
    opacity: 1;
}
.all-contents .btn-card.study {
    height: 632px;
    background-image: url(study.png);
    background-size: cover;  
}
.all-contents .btn-card.study:hover {
    background-image: url(study-now.png);
}
.all-contents .btn {
    border: 1px solid #999;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0.5%;
    padding: 16px 20px;
    text-decoration: none;
    color: #999;
    font-size: 16px;
    transition: 0.3s;
}
.all-contents .btn:hover {
    background-color: #3F48FF;
    color: #fff;
    box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.2);
}

.footer {
    font-size: 12px;
    line-height: 24px;
    background-color: #222;
    color: rgba(255, 255, 255, 0.40);
    padding: 56px 0;
    position: relative;
}
.footer .foot-txt {
    margin-top:65px;
    display: block;
}