/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .p-br {
        display: none;
    }
    .m-br {
        display: block;
    }
    .logo {
        margin: 27px 20px;
    }
    .wrap {
        margin: 0px 20px;
    }
    .all-contents {
        text-align: center
    }
    .all-contents .main-txt {
        text-align: left;
    }
    .all-contents .main-txt .main-title {
        font-size: 32px;
        line-height: 40px;
    }
    .all-contents .main-txt .main-text {
        font-size: 13px;
        line-height: 20px;
        width:100%;
        margin-top: 32px;
    }
    .main-txt .click-img {
        margin-top: 20px;
    }
    .all-contents .btn-section {
/*        text-align: center;*/
        margin-bottom: 40px;
    }
    .all-contents .btn-section .btn-card {
        width: 320px;
        height: 320px;
        line-height: 320px;
        font-size: 20px;
    }
    .all-contents .btn-section .btn-card .test-txt, .all-contents .btn-section .btn-card .study-txt {
        opacity: 1;
    }
    .all-contents .btn-section .btn-card.test {
        margin-bottom: 16px;
        margin-right: 0;
        background-image: url(test-now.png)
    }
    .all-contents .btn-section .btn-card.study {
        background-image: url(study-now.png)
    }
    .all-contents {
        margin-top: 40px;
    }
    .all-contents .btn {
        position: inherit;
        background-color: #3F48FF;
        color: #fff;
        box-shadow: 0px 18px 20px 0px rgba(0,0,0,0.2);
    }
    .footer {
        text-align: center;
    }
}