/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .p-br {
        display: none;
    }
    .m-br {
        display: block;
    }
    .logo {
        margin-top: 30px;
        margin-left: 30px;
    }
    .main {
/*        height: 400px;*/
    }
    .main .main-textbox {
        z-index: 5;
        padding: 5px 8px;
        top: 50vh;
    }
    .main .main-textbox span {
        background-color: #fff;
        padding: 0px 6px;
    }
    .main .main-textbox .main-title {
        font-size: 32px;
    }
    .main .main-textbox .main-txt {
        padding: 8px 3px 8px 8px;
        margin-top:0;
        font-size: 13px;
    }
    .main .main-img {
        width: 100%;
        margin-top: 24px;
        box-sizing: border-box;
        display: inline-block;
        left: 0;
    }
    .contents {
        padding: 80px 0px 100px 0px;
    }
    .contents .sec.test-title, .contents .sec.test {
        width: 100%;
        display: block;
    }
    .contents .sec.test {
        text-align: center;
    }
    .contents .sec.test-title h3 {
        padding-left: 10%;
        margin-bottom: 40px;
    }
    .contents .sec.test .test-ex {
        width:80%;
        margin: 0 auto;
        font-size: 15px;
        text-align: left;
    }
    .contents .btn-wrap {
        display: inline-block;
        margin-top: 20px;
    }
    .contents .sec.test .btn {
        font-size: 14.5px;
        padding: 13px 14px;
        display: inline-block;
    }
    .contents .sec.test .btn.two {
        margin-left: 10px;
    }
    .footer .foot-right {
        position: inherit;
        left: 0;
        margin-top: 10px;
        display: inline-block;
        line-height: 1.3;
    }
}